# Supabase
NEXT_PUBLIC_SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvaXRia2txcGliaHVxbG9rcmppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1MDQ3ODgsImV4cCI6MjA5NDA4MDc4OH0.NHhKXmiMlxjEb6ifAjYGI_xWhZYiWKcCO0hnsbEhv1w
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvaXRia2txcGliaHVxbG9rcmppIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODUwNDc4OCwiZXhwIjoyMDk0MDgwNzg4fQ.SZdusAAjLszB5p8dOMA5qwiJS3ZJAuhCYho6HwyoGyk

# Admin de la penca
ADMIN_PASSWORD=Salados.1274

# API-Football / API-Sports
API_FOOTBALL_KEY=tu_api_key
API_FOOTBALL_HOST=v3.football.api-sports.io
API_FOOTBALL_LEAGUE_ID=1
API_FOOTBALL_SEASON=2026

# Seguridad para crons o llamadas externas
CRON_SECRET=cambia-este-secreto
